<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" data-layout="./@@page-site-layout">
  <body>
    <div data-panel="content"         data-max-columns="4">
      <div class="mosaic-grid-row">
        <div class="mosaic-grid-cell mosaic-width-full mosaic-position-leftmost">
          <div class="movable removable mosaic-tile mosaic-IDublinCore-description-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.field?field=IDublinCore-description"></div>
          </div>
          </div>
        </div>
      </div>
      <div class="mosaic-grid-row">
        <div class="mosaic-grid-cell mosaic-width-full mosaic-position-leftmost">
          <div class="movable removable mosaic-tile mosaic-IDublinCore-title-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.field?field=IDublinCore-title"></div>
          </div>
          </div>
        </div>
      </div>
      <div class="mosaic-grid-row">
        <div class="mosaic-grid-cell mosaic-width-half mosaic-position-leftmost">
          <div class="movable removable mosaic-tile mosaic-IRichText-text-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.field?field=IRichText-text"></div>
          </div>
          </div>
        </div>
        <div class="mosaic-grid-cell mosaic-width-half mosaic-position-half">
          <div class="movable removable mosaic-tile mosaic-plone.app.standardtiles.html-tile">
          <div class="mosaic-tile-content">
          <div data-tile="./@@plone.app.standardtiles.html/b547f099-d419-49df-a1f6-9e57f59faf21?content=%3Cp%3Eadsfbvafdsbafb%3C/p%3E%0A"></div>
          </div>
          </div>
        </div>
      </div>
      <div class="mosaic-grid-row">
        <div class="mosaic-grid-cell mosaic-width-full mosaic-position-leftmost">
          <div class="movable removable mosaic-tile mosaic-plone.app.standardtiles.html-tile">
          <div class="mosaic-tile-content">
          <!-- content is stored here butnot used anywhere, see https://github.com/plone/plone.app.standardtiles/issues/81  -->
          <div data-tile="./@@plone.app.standardtiles.html/b5672778-a152-4ae2-a653-f01e29d4b958?content=%3Cp%3ELorem%20ipsum%20dolor%20sit%20amet,%20consectetuer%20adipiscing%20elit.%20Sed%20posuere%20interdum%20sem.%20Quisque%20ligula%20eros%20ullamcorper%20quis,%20lacinia%20quis%20facilisis%20sed%20sapien.%20Mauris%20varius%20diam%20vitae%20arcu.%20Sed%20arcu%20lectus%20auctor%20vitae,%20consectetuer%20et%20venenatis%20eget%20velit.%20Sed%20augue%20orci,%20lacinia%20eu%20tincidunt%20et%20eleifend%20nec%20lacus.%3C/p%3E%0A%3Cp%3EDonec%20ultricies%20nisl%20ut%20felis,%20suspendisse%20potenti.%20Lorem%20ipsum%20ligula%20ut%20hendrerit%20mollis,%20ipsum%20erat%20vehicula%20risus,%20eu%20suscipit%20sem%20libero%20nec%20erat.%20Aliquam%20erat%20volutpat.%20Sed%20congue%20augue%20vitae%20neque.%20Nulla%20consectetuer%20porttitor%20pede.%20Fusce%20purus%20morbi%20tortor%20magna%20condimentum%20vel,%20placerat%20id%20blandit%20sit%20amet%20tortor.%3C/p%3E%0A"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
